/* Colores Para SanIsidroLonasAr */
$nuevo-color: #fff;
$gray: #666666;
$darkGray: #404040;
$grayLight: #cccccc;
$white: #ffffff;
$black: #000;
$primary-color: #008cbe;
$primary-color-hover: #43bcf1;

/* Colores Para Debarricas */
$maroon-debarricas: #5b0d2e;
$BorderRadius-debarricas: 5px !important;
$whitesmoke-debarricas: #f5f5f5;

/* Variables */
/*https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg */
$iconProfileGray: "https://ray2--sanisidrolonasar.myvtex.com/arquivos/iconProfileGray.svg";
$arrow-cart: "https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/b83a386e-502a-4ffb-8774-32e1b8d331f0___89b04cb0740f44e8ca86a35f5dd19c0a.svg";

//Iconos Variables
$icon-user-on: "https://devarturo--debarricasar.myvtex.com/arquivos/icon_user.svg";
$icon-shiping-cart-on: "https://debarricasar.vteximg.com.br/arquivos/CartIconGray1.svg";
$icon-shiping-cart-off: "https://debarricasar.vteximg.com.br/arquivos/CartIconBlack.svg";
$icon-card-on: "https://debarricasar.vteximg.com.br/arquivos/IconTarjetaBannerGris.svg";
$icon-card-off: "https://debarricasar.vteximg.com.br/arquivos/IconTarjetaBannerBlack.svg";
$icon-arrow: "https://debarricasar.vteximg.com.br/arquivos/rightArrowMarro.svg";
