/* Colores Para SanIsidroLonasAr */
$nuevo-color: #fff;
$gray: #666666;
$darkGray: #404040;
$grayLight: #cccccc;
$white: #ffffff;
$black: #000;
$primary-color: #008cbe;
$primary-color-hover: #43bcf1;

/* Colores Para Debarricas */

$maroon-debarricas: #5b0d2e;
