.footer{
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    height: 111px;
    .metodos-pago{
        display: flex;
        height: 55px;
        align-items: center;
        gap: 21px;
        h1{
            font-size: 12px;
            line-height: initial;
            margin: 0;
        }
        img:nth-child(2){
            height: 22px;
        }
        img:nth-child(3){
            height: 55px;
        }
        img:nth-child(4){
            height: 44px;
        }
        img:nth-child(5){
            height: 25px;
        }
    }
    .derechos{
        display: flex;
        align-items: center;
        gap: 40px;
        h1{
            font-size: 12px;
            line-height: initial;
            margin: 0;
        }
        .PT-2,
        .PT{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}