@import "colores";
body.v-custom-step-payment{
  footer{
    height: 49px !important;
  }
}
body.body-cart{
  footer{
    transform: translateY(-100%);
    z-index: 100;
    margin-right: calc(2rem + 30%);
    background-color: #F5F5F5;
  }
}
footer {
  &::before {
    background-color: $whitesmoke-debarricas;
    position: absolute;
    content: "";
    /*min-width: 113%;
    height: 100px;
    z-index: -1;
    top: -26px;
    left: -19px;*/
  }
  
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 1450px;
  align-items: center;
  p {
    color: #3d3d3d;
    font-weight: 500;
  }
  .text-check {
    display: none;
  }
}
.email {
  footer {
    display: none !important;
  }
}
@media screen and (max-width: 770px) {
  footer {
    padding: 0 2rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text-check {
      display: flex;
    }
  }
}
@media screen and (min-width: 770px) {
  body.body-cart {
    footer {
      padding: 0 0rem;
      p {
        margin-left: 2rem;
      }
      img {
        //margin-right: calc(2rem + 30%);
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
