@import "colores";

.container-header{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 13.8vh;
  border-bottom: 2px solid;
  align-items: center;
  img{
    width: auto;
    height: 8.6vh;
  }
  .seguro{
    display: flex;
    align-items: center;
    gap: 8px;
    img{
      width: auto;
      height: 5.7vh;
    }
    h1{
      color: #000;
      font-size: 1.9vh;
      line-height: 2.5vh;
    }
  }
}