@import "colores.scss";
.summary-template-holder tfoot tr {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.summary-template-holder tfoot {
  display: table-footer-group !important;
}
@media (max-width: 750px) {
  //*Headers
  .cartHeaderCustom {
    box-shadow: none;
    border-bottom: 2px solid #f2f2f2;
    grid-template-columns: 4em 11em !important;
    padding-inline-start: 0 !important;
    justify-content: center !important;
  }
  //*Main
  .body-cart-vertical.cart-template-holder {
    width: auto !important;
  }
  .v-custom-product-item-wrap {
    display: grid !important;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(11, 1em);
    //border-bottom: 2px solid #f2f2f2;

    .product-image {
      grid-row: 8/10;
      grid-column: 1/2;
    }
    .product-price {
      grid-row: 10;
      grid-column: 7;
      justify-self: self-end;
      margin-top: 0.9em !important;
      .new-product-price {
        text-decoration: line-through;
        color: gray;
        display: none;
      }
    }
    .product-name {
      grid-column: 1/7;
      grid-row: 1/6;
      min-width: 100% !important;
      margin: 0 !important;
    }
    .quantity {
      grid-column: 5/-1;
      grid-row: 7/7;
      position: static;
      justify-self: flex-end;
      margin-right: 0 !important;
      justify-content: flex-end !important;
      .item-unit-label {
        display: none;
      }
      .item-quantity-change-decrement {
        border: 1px solid #9E9E9E;
        border-radius: 5px;
        min-width: 45px;
      }
      .item-quantity-change-increment {
        border: 1px solid #232541;
        border-radius: 5px;
        min-width: 45px;
      }
    }
    .quantity-price {
      grid-row: 10;
      grid-column: 8/-1;
      position: static;
      margin: 0 !important;
      .total-selling-price {
        font-size: 18px;
      }
      .total-selling-price {
        justify-content: unset !important;
        float: right !important;
      }
    }
    .item-remove {
      grid-row: 3;
      grid-column: 8/-1;
      justify-self: flex-end;
      position: relative !important;
      margin: 0 !important;
    }
  }
  .table.cart-items td.product-name,
  .table.cart-items td.quantity {
    margin-left: 0px !important;
    width: 100% !important;
  }
  .v-custom-product-item-wrap.product-price {
    margin-left: 0px !important;
  }
  //*Footer
  .Items {
    .info {
      color: #000 !important;
    }
    .monetary {
      color: #000 !important;
    }
  }
  .clearfix.pull-right.cart-links.cart-links-bottom.hide {
    display: contents !important;
  }
  .row-fluid.summary {
    margin-top: 0em !important;
    > div:nth-child(1) {
      display: grid !important;
      margin-bottom: 0em !important;
    }
  }
  .summary-template-holder {
    border-top: 2px solid #f2f2f2;
    border-radius: 0;
    box-shadow: 1px 4px 7px #0000004a !important;
  }
}
@media (min-width: 997px) {
  .row-fluid.summary {
    margin-top: 0em !important;
    > div:nth-child(1) {
      display: grid !important;
      margin-bottom: 22em !important;
    }
  }
  .body-cart-vertical .cart-template-holder {
    width: 70% !important;
  }
  .table.cart-items tbody tr td.product-name {
    order: 2 !important;
    width: 23% !important;
  }

  .v-custom-product-item-wrap {
    .product-price {
      margin-left: 31px !important;
    }
  }

  .product-name {
    .seller {
      display: flex !important;
    }
  }
}
/* 
*Error doble barra del carrito
*Se dejo la barra custom
*/
.header-cart {
  //display: none !important;
}
