@import "fonts.scss";
@import "colores";
@import "mixins.scss";
@import "footer.scss";
@import "header.scss";
@import "general.scss";
@import "cards";
@import "breadcrumb";
@import "main.scss";
@import "CartHeader";

a {
  color: $darkGray !important;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background: #f7f7f7;
}

#btn-go-to-payment {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 20px;
  background: #5b0d2e !important;
  border: none !important;
  text-transform: uppercase;
  font-weight: bold;
}

.shp-lean-option {
  background: #f2f2f2 !important;
}

.vtex-omnishipping-1-x-address .text label {
  position: relative;
}

.vtex-omnishipping-1-x-address .text label::after {
  position: absolute;
  content: "*";
  color: #999999;
  top: 0;
}
/*
.accordion-toggle{
  color:$maroon-debarricas !important
}
*/
.client-profile-email {
  margin-bottom: 0 !important;
  color: #5d5d5d !important;
}

.client-profile-summary {
  color: #5d5d5d !important;
}

.vtex-omnishipping-1-x-svg {
  fill: $maroon-debarricas;
}

.client-profile-data .accordion-toggle > span::before {
  content: "A";
  /*background: url('../image/profile-icon.svg');*/
  width: 29px;
  height: 29px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
}

.go-to-cart-button {
  display: none;
}

#ship-postalCode {
  max-width: 30%;
}

.back-to-address-list {
  border: 1px solid $maroon-debarricas;
  background: $maroon-debarricas;
  color: #fff;
}

#cart-to-orderform {
  background: $maroon-debarricas;
  color: #fff !important;
  border: none !important;
}

#cart-coupon-add {
  background: $maroon-debarricas;
  color: #fff !important;
  border: none !important;
}

.shipping-data .accordion-toggle::before {
  content: "B";
  /*background: url('../image/profile-icon.svg');*/
  width: 29px;
  height: 29px;
  object-fit: contain;
  left: 0;
  border: none;
  color: none !important;
}
#payment-data-submit {
  text-transform: uppercase !important;
}

.monetary {
  color: #262626 !important;
  font-size: 17px !important;
}

.info {
  font-size: 17px !important;
  text-transform: uppercase;
}

.cart-template {
  background: #fff !important;
  .summary-template-holder {
    z-index: 0;
    margin-top: -10px;
    padding-block-start: 3em;
    position: static;
    #cart-to-orderform {
      border-radius: $BorderRadius-debarricas;
      font-weight: 700 !important;
      text-transform: uppercase !important;
    }
  }
}
body.body-cart .cart-template {
  .summary-template-holder {
    box-shadow: -7px 0 5px -5px #0000004a;
  }
}

.btn-success {
  background: $maroon-debarricas !important;
  color: #fff !important;
  border: none !important;
}

#btn-go-to-payment {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 20px;
  background: #5b0d2e !important;
  border: none !important;
  text-transform: uppercase;
  font-weight: bold;
}
.shp-lean-option {
  background: #f2f2f2 !important;
}
.vtex-omnishipping-1-x-address .text label {
  position: relative;
}
.vtex-omnishipping-1-x-address .text label::after {
  position: absolute;
  content: "*";
  color: #999999;
  top: 0;
}
.accordion-toggle {
  color: $maroon-debarricas !important;
  font-weight: 500 !important;
}
.table.cart-items td.product-image img,
.table.cart-items td.product-image {
  width: 70px !important;
}
.product-item {
  border-bottom: 2px solid #f2f2f2 !important;
}
.old-product-price {
  font-size: 13px !important;
}
.client-profile-email {
  margin-bottom: 0 !important;
  color: #5d5d5d !important;
}
.client-profile-summary {
  color: #5d5d5d !important;
}
.vtex-omnishipping-1-x-svg {
  fill: $maroon-debarricas;
}

.client-profile-data .accordion-toggle > span::before {
  content: "";
  /*background: url('https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg') !important;*/
  background: url("https://ray2--sanisidrolonasar.myvtex.com/arquivos/iconProfileGray.svg") !important;
  background-size: 40px 40px !important;
  width: 40px;
  height: 40px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
}

.client-profile-data .accordion-toggle > span::before {
  content: "";
  background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg") !important;
  background-size: 40px 40px !important;
  width: 40px;
  height: 40px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
}

.go-to-cart-button {
  display: none;
}
#ship-postalCode {
  max-width: 30%;
}
.back-to-address-list {
  border: 1px solid $maroon-debarricas;
  background: $maroon-debarricas;
  color: #fff;
}
#cart-to-orderform {
  background: $maroon-debarricas;
  color: #fff !important;
  border: none !important;
}
#cart-coupon-add {
  background: $maroon-debarricas;
  color: #fff !important;
  border: none !important;
}

.shipping-data .accordion-toggle::before {
  content: "";
  visibility: visible;
  background: url("https://ray2--sanisidrolonasar.myvtex.com/arquivos/icnTruckGray.svg") !important;
  background-size: 40px 40px !important;
  width: 40px;
  height: 40px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
}

//agregado
.shipping-data .accordion-toggle {
  visibility: hidden;
}

.shipping-data .accordion-toggle::after {
  content: "Método de Entrega";
  visibility: visible;
  position: relative;
  margin-left: -5ch;
}
//agregado...
.monetary {
  color: #262626 !important;
  font-size: 17px !important;
}
.info {
  font-size: 17px !important;
  text-transform: uppercase;
}
.btn-success {
  background: $maroon-debarricas !important;
  color: #fff !important;
  border: none !important;
}

.payment-data .accordion-toggle > span:not(.payment-edit-link)::before {
  content: "";
  /*background: url('https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/d70906b3-95aa-4a21-ab3b-5bd1af0b2110___e41c3db79a414a4c3f9d4275d96ef47a.svg') !important;*/
  background: url("https://ray2--sanisidrolonasar.myvtex.com/arquivos/iconcardGray.svg") !important;
  background-size: 40px 40px !important;
  width: 40px;
  height: 40px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-option:hover,
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-leanShippingOptionActive,
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-leanShippingOption {
  background: #f2f2f2 !important;
}

.orderform-template .custom-cart-template-wrap {
  box-shadow: 0px 0px 10px #0000004f;
}

.orderform-template .cart-template.mini-cart h2 {
  text-align: center !important;
  border-bottom: 1px solid #ebebeb;
}

.input-block-level {
  font-size: 14px !important;
  max-width: 75% !important;
  margin-right: 20px !important;
}

.client-pre-email .emailInfo > h3 {
  color: #000 !important;
}

.emailInfo {
  text-align: center !important;
}

.client-pre-email .client-email.input.text .btn-success {
  position: relative !important;
  bottom: 0 !important;
  min-width: unset !important;
  left: 40px !important;
  top: unset !important;
  height: 40px !important;
  padding: 0 !important;
}

.icon-lock {
  display: none;
}

.client-pre-email h3.client-pre-email-h span::before {
  content: "";
  background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/d70906b3-95aa-4a21-ab3b-5bd1af0b2110___e41c3db79a414a4c3f9d4275d96ef47a.svg") !important;
  background-size: 40px 40px !important;
  width: 40px;
  height: 40px;
  object-fit: contain;
  left: 0;
  border: none;
  background: transparent;
  color: none;
  white-space: unset !important;
}

.ship-postalCode .input-small {
  max-width: 30% !important;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsOption.vtex-omnishipping-1-x-deliveryOptionActive {
  background: $maroon-debarricas !important;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsOption {
  background: #eeeeee !important;
}

.vtex-omnishipping-1-x-deliveryChannelsComplement {
  font-size: 16px !important;
}

.orderform-template .cart-template.mini-cart #go-to-cart-button {
  position: unset !important;
  order: 9;
  color: #000 !important;
  text-align: center !important;
  font-size: 13px !important;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 32px !important;
}

.orderform-template .cart-template.mini-cart #go-to-cart-button a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin: 0 auto;
  font-size: 14px !important;
  color: #262626 !important;
}

.orderform-template .cart-template.mini-cart #go-to-cart-button a::before {
  content: "";
  background-image: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/b83a386e-502a-4ffb-8774-32e1b8d331f0___89b04cb0740f44e8ca86a35f5dd19c0a.svg");
  width: 12px;
  height: 12px;
  background-size: 100%;
  position: absolute;
  transform: rotate(-180deg);
  left: -30px;
}

.custom-cart-template-wrap {
  display: flex !important;
  flex-direction: column !important;
}

.orderform-template-holder
  #client-profile-data
  > form.form-page.client-pre-email.noneImportant {
  display: none !important;
}

.coupon-fields {
  span::before {
    background-color: $whitesmoke-debarricas;
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 100px;
    z-index: -1;
    top: -26px;
    left: -20px;
  }
  span {
    display: grid !important;
    grid-template-columns: 2fr 1fr;
    padding-inline-start: 0em;
    grid-column-gap: 1em;
    input {
      border-radius: $BorderRadius-debarricas;
    }
    button {
      border-radius: $BorderRadius-debarricas;
      max-width: 124px;
      min-width: 124px;
    }
  }
  .info {
    display: none !important;
  }
}

.table {
  width: 100%;
  tfoot {
    border-top: 2px solid #dfdfdfcf;
    position: relative;
    display: grid;
    //left: -20px;
    width: 115%;
    tr {
      padding-inline-end: 37px;
      padding-inline-start: 20px;
    }
  }
}

.quantity {
  order: 2 !important;
  margin-right: 12em !important;
  margin-left: 4.3em !important;
}
.quantity-price {
  order: 3 !important;
  display: grid !important;
}
.shipping-date {
  display: none !important;
}
.total-selling-price {
  font-size: 15px !important;
}
/* De los pasos del pago (Texto) */
.accordion-toggle {
  color: #9b9b9b !important;
}

.orderform-template-holder.profile {
  #client-profile-data .accordion-toggle {
    color: $maroon-debarricas !important;
  }
}

.orderform-template-holder.shipping {
  #shipping-data .accordion-toggle {
    color: $maroon-debarricas !important;
  }
  #client-profile-data .accordion-toggle {
    color: $maroon-debarricas !important;
  }
}

.orderform-template-holder.payment .accordion-toggle {
  color: $maroon-debarricas !important;
}

/* De los pasos del pago imagen */
.orderform-template-holder.profile {
  #client-profile-data .accordion-toggle > span::before {
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg") !important;
    content: "";
    background-size: 40px 40px !important;
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }
}

.orderform-template-holder.shipping {
  #shipping-data .accordion-toggle::before {
    content: "";
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/54cf916b-026c-4953-bcb4-41cb72771bc3___ec90a519aca4b963272286e360ab44e5.svg") !important;
    background-size: 40px 40px !important;
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }

  #client-profile-data .accordion-toggle > span::before {
    content: "";
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg") !important;
    background-size: 40px 40px !important;
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }
}

.orderform-template-holder.payment {
  #payment-data .accordion-toggle > span:not(.payment-edit-link)::before {
    content: "";
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/d70906b3-95aa-4a21-ab3b-5bd1af0b2110___e41c3db79a414a4c3f9d4275d96ef47a.svg") !important;
    width: 40px;
    height: 40px;
    background-size: 40px 40px !important;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }

  #shipping-data .accordion-toggle::before {
    content: "";
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/54cf916b-026c-4953-bcb4-41cb72771bc3___ec90a519aca4b963272286e360ab44e5.svg") !important;
    background-size: 40px 40px !important;
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }

  #client-profile-data .accordion-toggle > span::before {
    content: "";
    background: url("https://sanisidrolonasar.vtexassets.com/assets/vtex.file-manager-graphql/images/de6b62d1-4340-4300-8b6e-1930769e1577___f246401f4581869e17dc4db45309b381.svg") !important;
    background-size: 40px 40px !important;
    width: 40px;
    height: 40px;
    object-fit: contain;
    left: 0;
    border: none;
    background: transparent;
    color: none;
  }
}
/* ... */

.item-remove {
  order: 5 !important;
  padding-top: 5px !important;
}
.table.cart-items thead tr th.product {
  width: calc(37%) !important;
}

.product-price {
  order: 2 !important;
  margin-left: 1em !important;
  .best-price {
    display: grid;
    margin-left: 3px;
    font-size: 15px;
    .new-product-real-price {
      display: none !important;
      //display: grid !important;
      color: gray;
      text-decoration: line-through;
    }
    .new-product-real-price-per-unit {
      display: none !important;
    }
  }
}

.v-custom-product-item-wrap {
  .quantity {
    margin-right: 22px !important;
    margin-left: 45px !important;
    border: none !important;
    font-size: 16px !important;
    .item-unit-label {
      order: 1;
      margin: 0px 4px;
    }
    .item-quantity-change-decrement {
      border: 1px solid $black;
      border-radius: 5px;
      min-width: 45px;
      i::before {
        color: $black !important;
        padding-block-start: 4px !important;
        font-size: 38px !important;
      }
      margin-right: 1em;
      width: 53px !important;
      height: 38px !important;
    }
    .item-quantity-change-increment {
      border: 1px solid $black;
      border-radius: 5px;
      min-width: 45px;
      i::before {
        color: $black !important;
        padding-block-start: 8px !important;
        font-size: 38px !important;
      }
      margin-left: 1em;
      order: 2;
      width: 53px !important;
      height: 38px !important;
    }
  }
  .quantity-price {
    margin-left: 31px !important;
  }
  .item-remove {
    padding-block-start: 31px;
  }
}

.table.cart-items tbody tr td.quantity-price {
  display: block !important;
  margin-left: 5em;
}
.new-product-real-price-per-unit {
  display: none;
}
elemento {
  display: grid !important;
}

.cart-more-options {
  display: none !important;
}
.transactions-container.row-fluid {
  display: none;
}
.table.cart-items {
  thead {
    > tr {
      border-bottom: 3px solid #a0a0a0;
    }
  }
}
.seller {
  display: none !important;
}
#cart-coupon-add {
  font-weight: 500;
  font-size: 15px;
}
.cart .cart-items .quantity {
  margin-left: 0px !important;
}
@import "mobileCustom";

@media screen and (max-width: 770px) {
  .coupon-fields {
    span::before {
      content: unset;
    }
  }
  #payment-data .box-step form.form-step {
    flex-direction: column;
    > .payment-group {
      max-width: 100% !important;
    }
    > .steps-view {
      margin-left: 0 !important;
    }
  }
}

.orderform-template-holder #payment-data a.payment-group-item {
  position: relative !important;
}
