@import "_fonts.scss";
@import "colores.scss";
@import "mixins.scss";
@import "footer.scss";
@import "header.scss";
@import "general.scss";
@import "cards";
@import "breadcrumb";
@import "main.scss";
@import "CartHeader";

body {
  background: #fff;
  padding: 0px !important;
}
.container.container-main.container-cart{
  max-width: initial;
  width: calc(100% - 500px);
}
.finish-C{
  display: flex;
  align-items: center;
  flex-direction: column;
  h2{
    font-size: 2.4vh;
    text-transform: uppercase;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
  }
  .content-f{
    display: flex;
    width: 100%;
    div{
      display: flex;
      width: 25%;
      height: 16.9vh;
      flex-direction: column;
      align-items: center;
      gap: 2vh;
      justify-content: center;
      h1{
        font-size: 8.4vh !important;
        font-weight: 700 !important;
        margin: 0;
        opacity: 0.23;
        font-family: 'Noto Sans', sans-serif;
      }
      p{
        text-transform: capitalize;
        font-size: 2.4vh;
        opacity: 0.23;
        font-weight: 700 !important;
        font-family: 'Noto Sans', sans-serif;
      }
    }
  }
  .active-Content{
    background-color: #efefef;
    h1{
      opacity: initial;
    }
    p{
      opacity: initial;
    }
  }
}